<div class="list-view">
    <div class="wrapper-offers">
        <h1>Lista ofert</h1>
        <table class="offers-list-table">
            <thead>
            <tr>
                <th>Numer</th>
                <th>Klient</th>
                <th>Projekt</th>
                <th>Szczegóły</th>
                <th>Modyfikuj</th>
                <th>Usuń</th>
            </tr>
            </thead>
            <tbody>
            {{#each offers}}
                <tr>
                    <td>{{listAllIndex @index}}</td>
                    <td>{{this.customerName}}</td>
                    <td>{{this.projectNumber}}</td>
                    <td><a href="/offer/{{this.mainID}}/">Przejdź</a></td>
                    <td><a href="/offer/modify/{{this.mainID}}/">Zmień</a></td>
                    <td>
                        <form method="POST" action="/offer/delete/{{this.mainID}}?_method=DELETE">
                            <button type="submit">Usuń</button>
                        </form>
                    </td>
                </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
    <aside class="aside-offers">
        <form class="button-new-offer" action="/offer/forms/create-new-offer" method="get">
            <button type="submit">Dodaj nową ofertę</button>
        </form>
    </aside>
</div>


