<div class="offer-single-container">
    <h1 class="important">Szczegóły oferty</h1>
    <table class="offer-single-header">
        <thead>
        <tr>
            <th class="customer">Klient</th>
            <th>{{offer.customerName}}</th>
            <th class="project">Projekt</th>
            <th>{{offer.projectNumber}}</th>
        </tr>
        </thead>
    </table>

    <table class="offer-single-products">
        <thead>
        <tr>
            <th>Numer</th>
            <th>Opis</th>
            <th>MOQ</th>
            <th>Cena</th>
            <th>Komentarz</th>
        </tr>
        </thead>
        <tbody class="table-offer">
        {{#each products}}
            <tr>
                <td>{{listAllIndex @index}}</td>
                <td>{{this.description}}</td>
                <td>{{this.quantity}}</td>
                <td>{{this.price}} €/pc</td>
                <td>{{this.comment}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>

<form class="button-standard" method="GET" action="/offer/{{offer.mainID}}/preview"><button type="submit">Podgląd wydruku</button></form>

{{> go-home}}
